#song_container
  #voting
    = link_to 'Up', user_upvote_song_path(song), :method => :post
    %br
    = "#{song.upvote_count - song.downvote_count}"
    %br
    = link_to 'Down', user_downvote_song_path(song), :method => :post

  #song_info
    %li{ :id => "song_#{ song.id }"}
      Name:
      = link_to "#{song.name}", song_path(song)
      %br
      = "Genre: #{song.genre}"
      %br
      = "Description: #{song.description}"
      %br
      Upvoted:
      = song.upvote_count.to_i
      %br
      Downvoted:
      = song.downvote_count.to_i

  .clear

