= form_for @song do |f|
  = f.error_messages
  %fieldset
    %legend
      Information
    %p
      = f.label :name
      %br
      = f.text_field :name
    %p
      = f.label :link
      %br
      = f.text_field :link      
      %br
      %em
        Make sure the link is a valid youtube or mp3 link. 
    %p
      = f.label :description
      %br
      = f.text_area :description
    %p
      = f.label :genre
      %br
      = f.select :genre, Song::GENRES, :prompt => "Select a genre"
  %p
    = f.submit
    or
    %a.cancel_link{ :href => songs_path } Cancel

