%li{ :id => "song_#{ song.id }"}
  = link_to 'Up', user_upvote_song_path(song), :method => :post
  %br
  = link_to 'Down', user_downvote_song_path(song), :method => :post
  %br

  Name:
  = link_to "#{song.name}", song_path(song)
  %br
  = "Description: #{song.description}"
  %br
  = "Genre: #{song.genre}"
  %br
  = link_to 'Edit', edit_song_path(song)
  = "/"
  = link_to 'Delete', song_path(song), :method => 'delete', :confirm => "Are you sure you want to delete #{song.name}"
  %br
  start of box
  = render :partial => 'playlist_select', :locals => {:song => song}
  %br
  Upvoted:
  = song.upvote_count.to_i
  %br
  Downvoted:
  = song.downvote_count.to_i
  