= form_for @playlist do |f|
  = f.error_messages
  %fieldset
    %legend
      Information
    %p
      = f.label :title
      %br
      = f.text_field :title, :value => @playlist.new_record? ? '' : @playlist.title
    %p
      = f.label :description
      %br
      = f.text_area :description, :rows => 6, :value => @playlist.new_record? ? '' : @playlist.description
  %p
    = f.submit
    or
    %a.cancel_link{ :href => playlists_path } Cancel