#p_song_container
  %li
    %span#p_songname
      = link_to("#{song.name}", song_path(song))
    %br
    #p_songinfo_container
      %span#p_songinfo
        = "Genre: #{song.genre}"
      %br
      %span#p_songinfo
        = "Description: #{song.description}"
