!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en' }
  %head
    %title Music Site
    - [ '960', 'smoothness/jquery-ui-1.8.custom', 'application',].each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => 'stylesheet', :type => 'text/css', :media =>'screen', :charset => 'utf-8'}
    / - [ 'jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'rails', 'application'].each do |js|
    %script{:src => 'http://mediaplayer.yahoo.com/js', :type => 'text/javascript'}
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #main_container
      #header
        = render :partial => 'shared/header'
      #nav
        = render :partial => 'shared/nav'

      #center_content
        #main
          #main_content
            = yield
        #sidebar
          #user_box
            = render :partial => 'shared/user_box'

      #footer
        / = render :partial => 'shared/sidebar'
        = render :partial => 'shared/footer'