!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en' }
  %head
    %title Music Site
    - [ '960', 'smoothness/jquery-ui-1.8.custom', 'application'].each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => 'stylesheet', :type => 'text/css', :media =>'screen', :charset => 'utf-8'}
    - ['jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'rails', 'application'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript'}
    = csrf_meta_tag
  %body
    #header
      = render :partial => 'shared/header'
    .clear
    #nav
      = render :partial => 'shared/nav'
    #flash
      #flash_inner
        .notice
          = notice
        .alert
          = alert
    .clear
    #content
      #main
        #main_inner
          = yield
      #sidebar
        #sidebar_inner
          = render :partial => 'shared/sidebar'
      .clear
    #footer
      = render :partial => 'shared/footer'